.ads{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.ads .card{
position: relative;
display: flex;
justify-content: center;
align-items: flex-start;
width: 350px;
height: 400px;
background: #fff;
border-radius: 20px;
box-shadow: 0 35px 80px rgba(0,0,0.15);
transition: 0.5s;
}

.ads .card:hover{
    height: 400px;
    margin-top: 8rem;
}

@keyframes shimmer {
  0% {
    background-position: -300px 0; /* Start from the left */
  }
  100% {
    background-position: 300px 0; /* Move to the right */
  }
}

.ads .card .imgBx {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #d4d4d434; /* Base color */
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;

  /* Updated Skeleton Animation Effect */
  background: linear-gradient(
    to right, 
    #d4d4d434 8%, 
    #f0f0f0 18%, /* Softer shade for the highlight */
    #d4d4d434 33%
  );
  background-size: 200% 100%; /* Increase background size for a softer transition */
  animation-duration: 2s; /* Slower animation for a softer effect */
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

 

.ads .card:hover .imgBx{
 top: -100px;
 scale: 0.75;
 box-shadow: 0 15px 45px rgb(0, 0,0,0.2);
 position: relative
}
.ads .card .imgBx span{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    padding: 2px 3px;
    background: green;
    color: white;
    border-radius: 3px;
}
.ads .card:hover .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.ads .card .content{
    position: absolute;
    width: 100%;
    top: 252px;
    width: 100%;
    height: 90px;
    overflow: hidden;
    padding: 0 30px ;
    text-align: center;
    transition: 0.5s;
}

.ads .card .content h4{
    margin-top: 3rem;
    border: 1px solid var(--color-bg);
    font-size: 1em;
    font-weight: 700;
    padding: 10px 0;
    color: #333;
}

.ads .card .content p {
    color: #333;
    margin-top:3rem;
}
.container .card:hover .content{
    height: 250px;
    top: 130px;
}

.container .card:hover h4{
    display: none;
}


.container .card:hover .ads{
    height: 100vh;
}

.container .card:hover p{
    margin-top: 10px;

}



.ads .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--color-bg);
    color:#fff;
    font-weight: 500;text-decoration: none;

}

@media screen and (max-width:1020px) {
    .ads .card{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 350px;
        height: 400px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba(0,0,0.15);
        transition: 0.5s;
        }
}